<div
    class="button-container"
    [class.button-container-fill]="type === 'fill'"
    [class.disabled]="disabled"
    [class.gray]="color === 'gray'"
    [class.black]="color === 'black'"
    [class.red]="color === 'red'">
    <p class="text"><ng-content></ng-content></p>
</div>


<!-- <div [class.button-container-outline]="type === 'outline' || type === 'outline_fill'"
    [class.button-container-outline-fill]="type === 'outline_fill'"
    [class.button-container-fill]="type === 'fill'"
    [class.disabled]="disabled"
    [class.gray]="gray">
    <p class="text"><ng-content></ng-content></p>
</div> -->
