<div class="atb-thread-modal">
    <div class="atb-thread-content">
        <div class="atb-thread-heading">
            <div class="left">
                <h2>Thread Modal</h2>
                <p>06:00 - 12:00</p>
                <p>Working on ATB Modal</p>
            </div>
            <div class="right">
                <p class="clickable">x</p>
            </div>
        </div>
        <div class="atb-thread-post">
            <div class="atb-thread-details">
                <div class="thread-details-left">
                    <img src="/assets/dragislava.svg" />
                    <p><b>Mihajlo Tintor</b></p>
                </div>
                <div class="thread-details-right">
                    <p>21.10.2020.</p>
                </div>
            </div>

            <div class="atb-thread-contentbox">
                <p>pokusaj ako mozes ovo da zavrsis do kraja dana, pa cemo onda da vidimo sta cemo sa ostalim</p>
            </div>

            <div class="atb-thread-replies">
                <p class="replies clickable">0 replies</p>
                <p class="reply clickable">reply</p>
            </div>
        </div>

        <div class="atb-thread-input">
            <input placeholder="post a comment">
            <button>Comment</button>
        </div>
    </div>
</div>